[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ASGS.foyer"]
	path = ASGS.foyer
	url = https://github.com/cran/ASGS.foyer
[submodule "Census2016"]
	path = Census2016
	url = https://github.com/hughparsonage/census2016
[submodule "TeXCheckR"]
	path = TeXCheckR
	url = https://github.com/hughparsonage/texcheckr
[submodule "dauphin"]
	path = dauphin
	url = https://github.com/hughparsonage/dauphin
[submodule "fy"]
	path = fy
	url = https://github.com/hughparsonage/fy
[submodule "grattanInflators"]
	path = grattanInflators
	url = https://github.com/hughparsonage/grattaninflators
[submodule "heims"]
	path = heims
	url = https://github.com/hughparsonage/heims
[submodule "hutils"]
	path = hutils
	url = https://github.com/hughparsonage/hutils
[submodule "hutilscpp"]
	path = hutilscpp
	url = https://github.com/hughparsonage/hutilscpp
[submodule "waterfalls"]
	path = waterfalls
	url = https://github.com/hughparsonage/waterfalls
